    <section class="hero py-16">
        <div class="container mx-auto flex items-center justify-between">
            <div class="left w-1/2">
                <h6 class="text-lg"><em>Are you Hungry?</em></h6>
                <h1 class="text-6xl font-bold">Don't wait!</h1>
                <button class="px-6 py-2 rounded-full text-white btn-primary">Order Now</button>
            </div>
            <div class="right w-1/2">
                <img src="/img/hero-pizza.png" alt="">
            </div>
        </div>
    </section>

    <section class="menue container mx-auto mb-2">
        <h1 class="text-4xl mt-4">All pizzas</h1>
        <div class="grid md:grid-cols-4 gap-12 mt-10">
            <div>
                <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margherita</h2>
                    <span class="size px-1 py-1 rounded-full uperscase text-xs">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold">250</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bold rounded-full">
                            <span class="">+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margherita</h2>
                    <span class="size px-1 py-1 rounded-full uperscase text-xs">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold">250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span class="">+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margherita</h2>
                    <span class="size px-1 py-1 rounded-full uperscase text-xs">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold">250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span class="">+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margherita</h2>
                    <span class="size px-1 py-1 rounded-full uperscase text-xs">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold">250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span class="">+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margherita</h2>
                    <span class="size px-1 py-1 rounded-full uperscase text-xs">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold">250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span class="">+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margherita</h2>
                    <span class="size px-1 py-1 rounded-full uperscase text-xs">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold">250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span class="">+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margherita</h2>
                    <span class="size px-1 py-1 rounded-full uperscase text-xs">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold">250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span class="">+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margherita</h2>
                    <span class="size px-1 py-1 rounded-full uperscase text-xs">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold">250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span class="">+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/app.js"></script>
</body>
</html>
